<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx.xsd">

	<bean name="redisUtil" class="me.paul.yiblog_ssm.util.RedisUtil">
		<property name="host" value="redis" />
		<property name="port" value="6379" />
		<property name="password" value="2292" />
	</bean>

	<bean name="redisPassageUtil" class="me.paul.yiblog_ssm.util.RedisPassageUtil">
		<property name="ru" ref="redisUtil" />
	</bean>
	
	
	<!-- memcached 
	<bean name="inetAddress" class="java.net.InetSocketAddress">
	  <constructor-arg value="memcached"/>
	  <constructor-arg value="11211"/>
	</bean>
	<bean name="memcachedClient" class="net.spy.memcached.MemcachedClient">
	   <constructor-arg ref="inetAddress"/>
	</bean>

	<bean name="memcachedUtil" class="me.paul.yiblog_ssm.util.MemcachedUtil">
		<property name="exp" value="0"/>
	</bean>
	
	<bean name="memcachedPassageUtil" class="me.paul.yiblog_ssm.util.MemcachedPassageUtil">
	   <property name="mu" ref="memcachedUtil"/>
	</bean>
	
	<bean name="gson" class="com.google.gson.Gson"/>
	
	-->
	
	<!-- noCache 
	<bean name="noCachedPassageUtil" class="me.paul.yiblog_ssm.util.NoCachePassageUtil"/>
	-->
</beans>