<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="me.paul.yiblog_ssm.mapper.UserMapper">

  <resultMap type="Power" id="powerMap">
    <id column="power.id" property="id"/>
    <result column="power.name" property="name"/>
  </resultMap>

  <resultMap type="User" id="userMap">
    <id column="id" property="id"/>
    <result column="user.name" property="name" javaType="java.lang.String"/>
    <result column="user.email" property="email" javaType="java.lang.String"/>
    <result column="user.phonenumber" property="phonenumber" javaType="java.lang.String"/>
    <result column="user.sex" property="sex" javaType="int"/>
    <result column="user.birthDate" property="birthDate" javaType="java.util.Date"/>
    <result column="user.registerDate" property="registerDate" javaType="java.util.Date"/>
    <result column="user.lastLoginDate" property="lastLoginDate" javaType="java.util.Date"/>
    <result column="user.password" property="password"/>
    <association property="power" javaType="Power" resultMap="powerMap"/>
  </resultMap>
  
  <sql id="baseSelect">
    select 
      user.id as `user.id`,
      user.name as `user.name`,
      user.phonenumber as `user.phonenumber`,
      user.sex as `user.sex`,
      user.birthDate as `user.birthDate`,
      user.registerDate `user.registerDate`,
      user.lastLoginDate as `user.lastLoginDate`,
      user.password as `user.password`,
      power.id as `power.id`,
      power.name as `power.name`
     from user,power 
     where user.powerid=power.id 
  </sql>

  <select id="getByName" parameterType="string" resultMap="userMap">
    <include refid="baseSelect"/>
    and user.name=#{name}
  </select>
  
  <select id="getByEmail" parameterType="string" resultMap="userMap">
    <include refid="baseSelect"/>
    and user.email=#{email}
  </select>
  
  <select id="getAll" resultMap="userMap">
    <include refid="baseSelect"/>
  </select>
</mapper>